.popup-email-backdrops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-cl-40);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-email-window {
  width: 335px;
  height: 276px;
  border-radius: 20px;
  background-color: var(--primary-cl);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 43.5px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .popup-email-window {
    width: 469px;
    height: 308px;
    padding: 100px 60px;
  }
}

.popup-email-title {
  color: --dark-cl;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .popup-email-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 245px;
  }
}

.popup-email-span {
  color: var(--lite-green);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .popup-email-span {
    font-size: 24px;
    line-height: 1;
  }
}

.popup-email-description {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
}
@media screen and (min-width: 768px) {
  .popup-email-description {
    font-size: 16px;
    line-height: 1.25;
  }
}
