.is-hidden-success {
  display: none;
}

.backdrop-success {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-success {
  width: 335px;
  height: 400px;
  background-color: #e8e8e2;
  border-radius: 19px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-delay: 400ms;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-success {
    width: 490px;
  }
}

.modal-btn-success-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: none;
  background-color: #e8e8e2;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .modal-btn-success-close {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.modal-btn-icon-success {
  width: 22px;
  height: 22px;
}

@media only screen and (min-width: 768px) {
  .modal-btn-icon-success {
    width: 28px;
    height: 28px;
  }
}

.wrapper-content-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px auto 22px auto;
}

@media only screen and (min-width: 768px) {
  .wrapper-content-success {
    margin: 90px auto 3px auto;
  }
}

.thanks-text {
  color: #010101;
  font-size: 20px;
  font-family: Neue Montreal;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  width: 245px;
  text-align: center;
  margin: 0 auto 14px auto;
}

@media only screen and (min-width: 768px) {
  .thanks-text {
    font-size: 24px;
    margin: 0 auto 20px auto;
  }
}

.style-span-success {
  color: #6d8434;
  font-size: 20px;
  font-family: Neue Montreal;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

@media only screen and (min-width: 768px) {
  .style-span-success {
    font-size: 24px;
  }
}

.promise-text {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  font-family: Neue Montreal;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  width: 248px;
  height: 72px;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .promise-text {
    font-size: 16px;
    width: 328px;
    height: 80px;
  }
}

.style-img {
  width: 335px;
  height: 144px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .style-img {
    width: 490px;
    height: 159px;
  }
}
