.hidden {
  display: none;
}

/**
  |============================
  | SECTION: Shopping cart container
  |============================
*/
.shopping-cart-container {
  padding-top: 77px;
  padding-bottom: 80px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-container {
    padding-top: 107px;
    padding-bottom: 100px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .shopping-cart-container {
    padding-top: 89px;
  }
}

/**
  |============================
  | SECTION: Shopping cart header
  |============================
*/
.shopping-cart-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-header-container {
    margin-bottom: 29px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .shopping-cart-header-container {
    margin-bottom: 21px;
  }
}
.shopping-cart-header-icon,
.shopping-cart-header-title {
  display: inline-block;
}
.shopping-cart-header-icon {
  display: inline-flex;
  padding: 10px;
  margin-right: 14px;

  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;
  border-radius: 30px;
  background-color: var(--lite-green);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-header-icon {
    width: 42px;
    height: 42px;
  }
}

.shopping-cart-header-icon .icon {
  fill: var(--primary-cl);
}
.shopping-cart-header-title {
  margin-right: 3px;
}
.shopping-cart-header-title,
.shopping-cart-header-products-qty {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-header-title,
  .shopping-cart-header-products-qty {
    font-size: 32px;
    line-height: 1;
  }
}

/**
  |============================
  | SECTION: SHopping cart content
  |============================
*/
.shopping-cart-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-content-container {
    margin-bottom: 20px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .shopping-cart-content-container {
    display: flex;
    gap: 101px;
    flex-direction: row;

    margin-bottom: 0;
  }
}

/* Products list */
.shopping-cart-products-container {
  width: 100%;
  margin-bottom: 74px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-products-container {
    margin-bottom: 100px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .shopping-cart-products-container {
    width: 541px;
    margin-bottom: 0;
  }
}

.products-container-actions {
  text-align: right;
  margin-bottom: 33px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .products-container-actions {
    margin-bottom: 40px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .products-container-actions {
    padding-right: 40px;
    margin-bottom: 46px;
  }
}

.delete-all-products-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .delete-all-products-link {
    font-size: 16px;
  }
}

.checkout-products-list {
  max-height: 435px;
  overflow-y: scroll;

  padding-top: 7px;
  padding-bottom: 6px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-products-list {
    padding: 0;
    max-height: 522px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .checkout-products-list {
    padding-right: 40px;
  }
}

.checkout-products-list-item {
  padding: 30px 0;
  border-bottom: 1px solid var(--dark-cl-10);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-products-list-item {
    padding: 40px 0;
  }
}

.checkout-products-list-item:first-child {
  padding-top: 0;
}
.checkout-products-list-item:last-child {
  border: none;
  padding-bottom: 0;
}

.checkout-product-item-card {
  position: relative;
  display: flex;
}
.remove-item-link {
  position: absolute;
  top: -8px;
  right: 0;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .remove-item-link {
    top: 0;
    right: 32px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .remove-item-link {
    right: 0;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .remove-item-link-icon {
    width: 20px;
    height: 20px;
  }
}

.checkout-product-item-card-img {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 30px;
  border-radius: 10px;
  background-color: var(--lite-color);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-product-item-card-img {
    width: 120px;
    height: 120px;
    margin-right: 40px;
  }
}

.checkout-product-img {
  width: 64px;
  height: 64px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-product-img {
    width: 72px;
    height: 72px;
  }
}

.product-item-card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  text-align: left;
}
.product-item-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .product-item-name {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.product-item-category {
  margin-right: 8px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .product-item-category {
    margin-right: 16px;
  }
}
.product-item-category,
.product-item-size {
  display: inline-block;
}
.product-item-catogry-label,
.product-item-size-label {
  color: var(--dark-cl-30);
  font-size: 12px;
  line-height: 1.2;
}

.product-item-category-name,
.product-item-size-name {
  font-size: 12px;
  line-height: 1.2;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .product-item-category-name,
  .product-item-size-name {
    font-size: 14px;
    line-height: 1.3;
  }
}

.product-item-price-qty {
  position: relative;
}
.product-item-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .product-item-price {
    font-size: 20px;
    line-height: 1.2;
  }
}

.product-item-qty {
  display: flex;
  gap: 6px;
  padding: 4px 14px;

  position: absolute;
  right: 0;
  bottom: -6px;

  border: 1px solid var(--dark-cl-10);
  border-radius: 100px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .product-item-qty {
    bottom: 0;
    right: 32px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .product-item-qty {
    right: 0;
  }
}

.qty-decrement-btn,
.qty-increment-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.icon-qty-decrement,
.icon-qty-increment {
  stroke: var(--dark-cl);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .icon-qty-decrement,
  .icon-qty-increment {
    width: 18px;
    height: 18px;
  }
}

.product-qty-value {
  font-size: 16px;
  line-height: 1.1;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .product-qty-value {
    font-size: 20px;
    line-height: 1.2;
  }
}

.shopping-cart-order-container {
  width: 100%;
  text-align: left;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-order-container {
    width: 590px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .shopping-cart-order-container {
    padding-top: 71px;
  }
}

.shopping-cart-order-container .shopping-cart-header-title {
  margin-bottom: 40px;
}
.shopping-cart-order-total-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 14px 18px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: rgba(109, 132, 52, 0.05);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-order-total-container {
    padding: 14px 28px;
    margin-bottom: 40px;
  }
}

.shopping-cart-order-total-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-order-total-label {
    font-size: 20px;
    line-height: 1.2;
  }
}

.shopping-cart-order-total-sum-label {
  font-size: 12px;
  line-height: 1.2;
  color: var(--dark-cl-20);
}
.shopping-cart-order-total-sum-amount {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-order-total-sum-amount {
    font-size: 32px;
    line-height: 1;
  }
}

.shopping-cart-order-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .shopping-cart-order-form {
    flex-direction: row;
    gap: 16px;
  }
}

.checkout-form-field {
  position: relative;
}
.checkout-form-label {
  position: absolute;
  top: 14px;
  left: 20px;

  color: var(--dark-cl-50);
  font-size: 14px;
  line-height: 1.3;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-form-label {
    font-size: 18px;
    top: 16px;
    left: 20px;
  }
}

.checkout-form-input {
  width: 100%;
  padding-left: 56px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 1.3;

  border-radius: 30px;
  border: 1px solid var(--dark-cl-30);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-form-input {
    font-size: 18px;

    width: 359px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 63px;
  }
}

.checkout-form-input::placeholder {
  color: var(--dark-cl);
  font-size: 14px;
  line-height: 1.3;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-form-input::placeholder {
    font-size: 18px;
  }
}

.checkout-submit-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--primary-cl);

  padding: 12px 0;
  border: none;
  border-radius: 30px;
  background-color: var(--lite-green);

  transition: background-color var(--trans);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .checkout-submit-btn {
    flex-grow: 1;
    font-size: 20px;
    line-height: 1.2;
    padding: 15px 0;
  }
}

.checkout-submit-btn:hover,
.checkout-submit-btn:focus {
  background-color: var(--dark-green);
}
