.footer{
    background-color: var(--lite-green);
}
.footer-container{
    padding-top: 40px;
    padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .adaptive-footer{
        display: flex;
         flex-direction: column;
    }
    .footer-info{
        display: flex;
        gap: 78px;
    }
}
@media screen and (min-width: 1440px) {
    .footer-info{
        display: flex;
        gap: 148px;
        margin-bottom: 128px;
    }
    .adaptive-footer {
        flex-direction: column;
        justify-content: flex-start;
    }
    
}

/*--------LOGO---------*/
.footer-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}
.logo-footer-svg-circle{
    border-radius: 50%;
    background-color: var(--primary-cl);
}
.footer-logo-link{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 32px;
    height: 32px;
}
.footer-logo-svg{
    fill: var(--lite-green);
}
.logo-text-footer{
    font-family: 'FONTSPRING DEMO', sans-serif;
    color: var(--primary-cl);
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -0.36px;
}
@media screen and (min-width: 768px) {
    .logo-text-footer {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.48px;
    }
    .footer-logo {
        width: 100%;
    }
}

/*--------ICON---------*/
.footer-svg{
    fill: var(--primary-cl);
}
@media screen and (min-width: 768px) {
    .footer-svg {
        width: 28px;
        height: 28px;
    }
}
.footer-icons-list{
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}
.footer-icons-item{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--primary-cl-30);
    cursor: pointer;
    transition: background-color var(--trans);
}
.footer-icons-item:hover,
.footer-icons-item:focus {
    background-color: var(--primary-cl-20);   
}

.footer-icons-link{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*---------- SLOGAN ---------*/
.slogan-footer{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 80px;
}

.slogan-title{
    width: auto;
    color: var(--primary-cl);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.48px;
}
.slogan-text{
    width: auto;
    color: var(--primary-cl-70);
    font-size: 14px;
    line-height: 18px;
}
@media screen and (min-width: 768px) {
    .adaptive-slogan-form {
        width: 429px;
    }
    .slogan-footer{
        margin-bottom: 64px;
    }
    .slogan-title {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.8px;
    }
    .slogan-text{
        font-size: 18px;
        line-height: 24px;
    }
    
}
@media screen and (min-width: 1440px) {
    .adaptive-slogan-form {
        display: flex;
        gap: 148px;
        width: auto;
        }
    .slogan-footer{
        width: 410px;
        gap: 20px;
    }
}


/*-----------  FORM ----------*/
.subscription-form{
    margin-bottom: 80px;
}
.form-footer-title{
    color: var(--primary-cl);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
}
.footer-form{
    display: flex;
    gap: 14px;
    flex-direction: column;
}
.footer-imput-form{
    border-radius: 30px;
    border: 1px solid var(--primary-cl);
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
    color: var(--primary-cl);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
input[type="email"]::placeholder{
    color: var(--primary-cl-60);
}
.footer-imput-form:focus {
    outline: 1px solid var(--primary-cl);;
}
.footer-btn{
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 30px;
    background: var(--primary-cl);
    color: var(--dark-cl);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    transition: color var(--trans);
}

.footer-btn:hover,
.footer-btn:focus {
    color: var(--lite-green);
}

@media screen and (min-width: 768px) {
    .form-footer-title {
        font-size: 18px;
        line-height: 24px;
    }
    .footer-form {
        gap: 20px;
        width: 336px;
    }
    .footer-btn{
        font-size: 16px;
        line-height: 24px;
    }
}

.footer-rights-text{
    color: var(--primary-cl);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.9;
    margin-bottom: 8px;
}
.footer-rights-policy{
    color: var(--primary-cl);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    gap: 8px;
}
@media screen and (min-width: 768px) {
    .footer-other{
        display: flex;
        justify-content: space-between;
    }
}
