/* ///Style title\\\ */
.style-title-hero {
  color: var(--dark-cl);
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
  word-wrap: break-word;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .style-title-hero {
    font-size: 80px;
    line-height: 80px;
  }
}

.style-span-hero {
  color: var(--lite-green);
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
  word-wrap: break-word;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .style-span-hero {
    font-size: 80px;
    line-height: 80px;
  }
}

/* ///Text after title\\\ */
.text-hero {
  color: rgba(1, 1, 1, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  text-align: center;
  width: 292px;
}

@media only screen and (min-width: 768px) {
  .text-hero {
    font-size: 18px;
    line-height: 24px;
    width: 492px;
  }
}

/* Style box for hero */
.hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-box {
    gap: 20px;
    margin-bottom: 40px;
  }
}

/* Hero image mobile */
.hero-image {
  position: relative;
  width: 100%;
  height: 480px;
  border-radius: 30px;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url('../../images/hero-image/webp-folder/hero-image-mobile_1x.webp');
}

@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: url('../../images/hero-image/webp-folder/hero-image-mobile_2x.webp');
  }
}

/* ///Hero image tablet\\\ */
@media only screen and (min-width: 768px) {
  .hero-image {
    height: 580px;
    background-image: url('../../images/hero-image/webp-folder/hero-tablet@1x.webp');
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: url('../../images/hero-image/webp-folder/hero-tablet@2x.webp');
  }
}

/* Hero image desktop */
@media only screen and (min-width: 1440px) {
  .hero-image {
    height: 350px;
    background-image: url('../../images/hero-image/webp-folder/hero-desktop_1x.webp');
  }
}

@media only screen and (min-width: 1440px) and (min-device-pixel-ratio: 2),
  (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: url('../../images/hero-image/webp-folder/hero-desktop_2x.webp');
  }
}

/* Svg on hero image */
.svg-organic {
  position: absolute;
  top: -7px;
  right: 8px;
  animation: rotate-in-center 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
}
@keyframes rotate-in-center {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media only screen and (min-width: 768px) {
  .svg-organic {
    top: -30px;
    right: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .svg-organic {
    top: -50px;
    right: 20px;
  }
}

.section-bottom-style {
  margin-bottom: 74px;
}
