.modal-backdrops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  max-width: 335px;
  height: auto;
  border-radius: 20px;
  background-color: #fafafa;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px 20px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 600px;
    padding: 40px;
  }
}

.modal-close-btn {
  border: transparent;
  background-color: transparent;
  width: 22px;
  height: 22px;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
}

.modal-close-icon {
  width: 12.38px;
  height: 12.38px;
}

@media screen and (min-width: 768px) {
  .modal-close-icon {
    width: 15.75px;
    height: 15.75px;
  }
}

.modal-main-content-box {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .modal-main-content-box {
    display: flex;
    margin-bottom: 48px;
  }
}

.modal-picture-box-container {
  width: 295px;
  height: 212px;
  border-radius: 10px;
  background-color: #e8e8e2;
  padding: 26px 67.5px;
  margin-right: 24px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .modal-picture-box-container {
    width: 240px;
    height: 212px;
    border-radius: 10px;

    padding: 26px 40px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.modal-pic {
  width: 160px;
  height: 160px;
  display: block;
}

.modal-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.modal-box-info {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 9px;
}

@media screen and (min-width: 768px) {
  .modal-box-info {
    margin-bottom: 24px;
  }
}

.classification {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.17;
  margin-right: 8px;
}

.modal-info {
  color: #010101;
  font-size: 12px;
  line-height: 1.17;
  margin-left: 4px;
}

.modal-description {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  line-height: 1.28;
  max-width: 295px;
  max-height: 150px;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .modal-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 256px;
    height: 100%;
    overflow: hidden;
  }
}

.modal-box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-price {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .modal-price {
    font-size: 20px;
    line-height: 1.2;
  }
}

.add-to {
  border-radius: 30px;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #6d8434;

  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #e8e8e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;

  transition: background-color 0.3s;
}

@media screen and (min-width: 768px) {
  .add-to {
    padding: 10px 28px;
    line-height: 1.25;
  }
}

.add-to:active,
.add-to:hover {
  background-color: #586f1f;
  border: none;
}

@media screen and (min-width: 1440px) {
  .add-to:hover {
    background-color: #586f1f;
    border: none;
  }
}

.added-to {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 30px;
  background: #586f1f;

  color: #e8e8e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .added-to {
    padding: 10px 28px;
    line-height: 1.25;
  }
}

/* hidden */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-shopping-cart {
  fill: #e8e8e2;
}
