.popular-product-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media screen and (min-width: 768px) {
  .popular-product-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .popular-product-list {
    flex-direction: column;
    gap: 13px;
  }
}

.popular-product-item {
  width: 335px;
  height: 98px;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--lite-color);
  display: flex;
  gap: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .popular-product-item {
    width: 275px;
  }
}

.product-image-container {
  width: 74px;
  height: 74px;
  border-radius: 10px;
  background-color: var(--primary-cl);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 152px;
}

.product-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.product-info {
  display: flex;
  flex-direction: row;
  gap: 9px;
  font-size: 12px;
  line-height: 14px;
  color: var(--dark-cl-30);
  width: 156px;
}

.info-text {
  color: var(--dark-cl);
  margin-left: 4px;
}

.popular-product-btn {
  width: 20px;
  height: 20px;
  padding: 4px;
  align-items: center;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-cl);
}

.icon-shoping-cart {
  fill: var(--lite-green);
}

.popular-product-button {
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background-color: var(--primary-cl);
  border: none;
  padding: 4px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans);
}

.popular-product-button:hover,
.popular-product-button:focus {
  background-color: var(--dark-green);
}

.icon-popular-btn {
  fill: #586f1f;
  transition: fill var(--trans);
}

.icon-popular-btn:hover,
.icon-popular-btn:focus {
  fill: var(--primary-cl);
}

.info-item {
  display: flex;
  flex-wrap: nowrap;
}

.check-popular {
  border: none;
  background-color: var(--lite-green);
  border-radius: 30px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.hidden {
  display: none;
}

.buy-svg-popular,
.check-svg-popular {
  fill: var(--primary-cl);
}

.btn-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
}
