.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart {
  background-color: var(--lite-color);
  width: 335px;
  border-radius: 20px;
}
.cart-container {
  padding: 20px;
}
.cart-img-container {
  background-color: var(--primary-cl);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-img {
  width: 140px;
  height: 140px;
}
.discount-svg {
  position: absolute;
  right: -10px;
  top: -26px;
}
.cart-name {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  height: 54px;
}

@media screen and (min-width: 1440px) {
  .info {
    height: 37px;
  }
}

.info-item {
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: var(--dark-cl-30);
}
.info-text {
  color: var(--dark-cl);
}

.buy-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.buy-price {
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--dark-cl);
}
.buy,
.check {
  border: none;
  background-color: var(--lite-green);
  border-radius: 30px;
  width: 34px;
  height: 34px;
  position: relative;
}
.check {
  cursor: default;
}
.buy:hover,
.boy:focus {
  background-color: var(--dark-green);
}
.buy-svg,
.check-svg {
  fill: var(--primary-cl);
  position: absolute;
  top: 8px;
  left: 8px;
}
.hidden {
  display: none;
}

/*
  |============================
  | loader 
  |============================
*/

.list-loader {
  width: 100%;
  height: 2264px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 160px;
  height: 185px;
  position: relative;
  background: #fff;
  border-radius: 100px 100px 0 0;
  display: block;
}
.loader:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.loader:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #fff 48%, transparent 50%),
    radial-gradient(circle, #fff 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (min-width: 768px) {
  .cart-list {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
  }
  .cart-name {
    font-size: 20px;
    line-height: 1.2;
  }
  .buy-price {
    font-size: 20px;
    line-height: 1.2;
  }
  .list-loader {
    height: 1550px;
  }
}
@media screen and (min-width: 1440px) {
  .cart-list {
    gap: 40px 20px;
  }
  .cart {
    width: 295px;
  }
  .cart-img {
    left: 58px;
  }
  .info {
    width: 230px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .list-loader {
    height: 1169px;
  }
}
