@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 100vh;

  background-color: var(--primary-cl);
  font-family: 'Neue Montreal', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-cl);
}

footer {
  margin-top: auto;
}
