@font-face {
  font-family: Neue Montreal;
  font-display: swap;
  src: url('../../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../../fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Neue Montreal;
  font-display: swap;
  src: url('../../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../../fonts/NeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
