:root {
  /* Colors*/
  --primary-cl: #e8e8e2;
  --primary-cl-20: rgba(232, 232, 226, 0.2);
  --primary-cl-30: rgba(232, 232, 226, 0.3);
  --primary-cl-60: rgba(232, 232, 226, 0.6);
  --primary-cl-70: rgba(232, 232, 226, 0.7);
  --lite-color: #fafafa;

  --lite-green: #6d8434;
  --dark-green: #586f1f;

  --dark-cl: #010101;
  --dark-cl-10: rgba(1, 1, 1, 0.1);
  --dark-cl-20: rgba(1, 1, 1, 0.2);
  --dark-cl-30: rgba(1, 1, 1, 0.3);
  --dark-cl-50: rgba(1, 1, 1, 0.5);
  --dark-cl-70: rgba(1, 1, 1, 0.7);
  --dark-cl-08: rgba(1, 1, 1, 0.08);

  --grey-cl: #a3a3a3;
  --grey-cl-30: rgba(163, 163, 163, 0.3);

  /* Transition */
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
