<section class="shopping-cart-section shopping-cart-container container hidden">
  <!-- Page Header -->
  <div class="shopping-cart-header-container">
    <div class="shopping-cart-header-icon">
      <svg class="icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-shopping-cart"></use>
      </svg>
    </div>
    <h1 class="shopping-cart-header-title">cart</h1>
    <div class="shopping-cart-header-products-qty">
      (<span class="products-qty-value js-order-counter">0</span>)
    </div>
  </div>
  <!-- Page Content -->
  <div class="shopping-cart-content-container">
    <div class="shopping-cart-products-container">
      <div class="products-container-actions">
        <button class="delete-all-products-btn" type="button">
          Delete all
          <svg class="delete-all-products-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-ion_close-sharp"></use>
          </svg>
        </button>
      </div>

      <!-- List of Products -->
      <ul class="checkout-products-list list">
        <!-- <li class="checkout-products-list-item">
          <div class="checkout-product-item-card">
            <div class="checkout-product-item-card-img">
              <img
                class="checkout-product-img"
                src="./images/avocado-temp.png"
                alt="Avocado"
                width="64"
                height="64"
                loading="lazy"
              />
            </div>
            <div class="product-item-card-details">
              <div class="product-item-attributes">
                <h3 class="product-item-name">Avocado</h3>
                <p class="product-item-category">
                  <span class="product-item-catogry-label">Category: </span>
                  <span class="product-item-category-name">Fresh Produce</span>
                </p>
                <p class="product-item-size">
                  <span class="product-item-size-label">Size: </span
                  ><span class="product-item-size-name">Each</span>
                </p>
              </div>
              <div class="product-item-price-qty">
                <div class="product-item-price">$1.99</div>
                <div class="product-item-qty">
                  <button class="qty-decrement-btn">
                    <svg class="icon-qty-decrement" width="14" height="14">
                      <use href="./images/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="product-qty-value">1</span>
                  <button class="qty-increment-btn">
                    <svg class="icon-qty-increment" width="14" height="14">
                      <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <a class="remove-item-link" href="#">
              <svg class="remove-item-link-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-ion_close-sharp"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="checkout-products-list-item">
          <div class="checkout-product-item-card">
            <div class="checkout-product-item-card-img">
              <img
                class="checkout-product-img"
                src="./images/avocado-temp.png"
                alt="Avocado"
                width="64"
                height="64"
                loading="lazy"
              />
            </div>
            <div class="product-item-card-details">
              <div class="product-item-attributes">
                <h3 class="product-item-name">Avocado</h3>
                <p class="product-item-category">
                  <span class="product-item-catogry-label">Category: </span>
                  <span class="product-item-category-name">Fresh Produce</span>
                </p>
                <p class="product-item-size">
                  <span class="product-item-size-label">Size: </span
                  ><span class="product-item-size-name">Each</span>
                </p>
              </div>
              <div class="product-item-price-qty">
                <div class="product-item-price">$1.99</div>
                <div class="product-item-qty">
                  <button class="qty-decrement-btn">
                    <svg class="icon-qty-decrement" width="14" height="14">
                      <use href="./images/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="product-qty-value">1</span>
                  <button class="qty-increment-btn">
                    <svg class="icon-qty-increment" width="14" height="14">
                      <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <a class="remove-item-link" href="#">
              <svg class="remove-item-link-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-ion_close-sharp"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="checkout-products-list-item">
          <div class="checkout-product-item-card">
            <div class="checkout-product-item-card-img">
              <img
                class="checkout-product-img"
                src="./images/avocado-temp.png"
                alt="Avocado"
                width="64"
                height="64"
                loading="lazy"
              />
            </div>
            <div class="product-item-card-details">
              <div class="product-item-attributes">
                <h3 class="product-item-name">Avocado</h3>
                <p class="product-item-category">
                  <span class="product-item-catogry-label">Category: </span>
                  <span class="product-item-category-name">Fresh Produce</span>
                </p>
                <p class="product-item-size">
                  <span class="product-item-size-label">Size: </span
                  ><span class="product-item-size-name">Each</span>
                </p>
              </div>
              <div class="product-item-price-qty">
                <div class="product-item-price">$1.99</div>
                <div class="product-item-qty">
                  <button class="qty-decrement-btn">
                    <svg class="icon-qty-decrement" width="14" height="14">
                      <use href="./images/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="product-qty-value">1</span>
                  <button class="qty-increment-btn">
                    <svg class="icon-qty-increment" width="14" height="14">
                      <use href="./images/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <a class="remove-item-link" href="#">
              <svg class="remove-item-link-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-ion_close-sharp"></use>
              </svg>
            </a>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="shopping-cart-order-container">
      <h2 class="shopping-cart-header-title">Your order</h2>
      <div class="shopping-cart-order-total-container">
        <p class="shopping-cart-order-total-label">Total</p>
        <div class="shopping-cart-order-total-sum">
          <span class="shopping-cart-order-total-sum-label">Sum:</span>
          <span class="shopping-cart-order-total-sum-amount js-total-price"
            >&#36;12,94</span
          >
        </div>
      </div>
      <form
        class="shopping-cart-order-form"
        name="shopping-cart-order-form"
        autocomplete="off"
      >
        <div class="checkout-form-field">
          <label class="checkout-form-label" for="checkout-email">Mail:</label>
          <input
            id="checkout-email"
            class="checkout-form-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            pattern="^[a-zA-Z]\w+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}(\.[a-zA-Z]{2,})?$"
            required
            minlength="6"
            maxlength="64"
          />
        </div>
        <button class="checkout-submit-btn" type="submit" name="checkout_order">
          Checkout
        </button>
      </form>
    </div>
  </div>
</section>
