<div>
  <picture>
    <source
      media="(min-width: 375px)"
      srcset="
        ./src/images/basket-img/webp/basketJPG@1x.webp 1x,
        ./src/images/basket-img/webp/basketJPG@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 375px)"
      srcset="
        ./src/images/basket-img/jpeg/basketJPG@1x.jpeg 1x,
        ./src/images/basket-img/jpeg/basketJPG@1x.jpeg 2x
      "
      type="image/jpg"
    />

    <img
      src="./src/images/basket-img/webp/basketJPG@1x.webp"
      alt="backet"
      class="image-cart-macket"
      width="132"
      height="114"
    />
  </picture>
</div>
<div>
  <h3>Your basket is <span>empty...</span></h3>
  <p>
    Go to the main page to select your favorite products and add them to the
    cart.
  </p>
</div>
