<section>
  <div class="container">
    <div class="empty-card-icn">
      <div class="empty-card-icon">
        <a
          class="ec-icon"
          href="./index.html"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="icon"
        >
          <svg class="ec-icon-svg" width="18" height="18">
            <use href="./images/sprite.svg#icon-shopping-cart"></use>
          </svg>
        </a>
      </div>
      <p class="text-cart-icon">Cart (0)</p>
    </div>
    <div class="backet-info-empty">
      <div class="img-cart-empty">
        <picture class="">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/basket-img/plan_basket@1x.webp 1x,
              ./images/basket-img/plan_basket@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/basket-img/plan_basket@1x.png 1x,
              ./images/basket-img/plan_basket@2x.png 2x
            "
            type="image/npg"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./images/basket-img/basketpng@1x.webp 1x,
              ./images/basket-img/basketpng@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./images/basket-img/basketpng@1x.png 1x,
              ./images/basket-img/basketpng@2x.png 2x
            "
            type="image/npg"
          />
          <img
            src="./images/basket-img/basketpng@1x.webp"
            alt="backet"
            class="image-cart-macket"
            width="132"
            height="114"
          />
        </picture>
      </div>
      <div class="info-cart-empty">
        <h3 class="title-cart-empty">
          Your basket is <span class="span-cart-empty">empty...</span>
        </h3>
        <p class="text-cart-empty">
          Go to the main page to select your favorite products and add them to
          the cart.
        </p>
      </div>
    </div>
  </div>
</section>
