<div class="popup-email-backdrops is-hidden" data-popup-email>
  <div class="popup-email-window">
    <button type="button" class="modal-close-btn close" data-popup-close>
      <svg class="modal-close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="popup-email-main-content-box">
      <h2 class="popup-email-title">
        This<span class="popup-email-span">&nbsp;email address</span> has
        already been entered
      </h2>

      <p class="popup-email-description">
        You have already subscribed to our new products. Watch for offers at the
        mailing address.
      </p>
    </div>
  </div>
</div>
