<footer class="footer">
  <div class="footer-container container">
    <!----logo----->
    <div class="footer-info">
      <div class="adaptive-footer">
        <div class="footer-logo">
          <a
            class=" "
            href="./index.html"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="logo"
          >
            <svg class="footer-logo-svg" width="28" height="28">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
          </a>
          <p class="logo-text-footer">Food Boutique</p>
        </div>
        <!-----  social-icon -->
        <div>
          <ul class="footer-icons-list">
            <li class="footer-icons-item">
              <a
                class="footer-icons-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook"
              >
                <svg class="footer-svg" width="24" height="24">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-icons-item">
              <a
                class="footer-icons-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="footer-svg" width="24" height="24">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-icons-item">
              <a
                class="footer-icons-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Youtube"
              >
                <svg class="footer-svg" width="24" height="24">
                  <use href="./images/sprite.svg#icon-you-tube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!---slogan-->
      <div class="adaptive-slogan-form">
        <div class="slogan-footer">
          <h2 class="slogan-title">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="slogan-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <!--------- FORM ---------->
        <div class="subscription-form">
          <h3 class="form-footer-title">
            Subscribe and learn about new products!
          </h3>
          <form>
            <div class="footer-form">
              <input
                class="footer-imput-form"
                type="email"
                name="user-email"
                placeholder="Email"
                required
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              />
              <button
                type="submit"
                class="footer-btn"
                id="footer-button"
                aria-label="footer-button"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--------- Privacy Policy ---------->
    <div class="footer-other">
      <p class="footer-rights-text">Food Boutique. All rights reserved.</p>
      <ul class="footer-rights-policy">
        <a href="#" target="_blank" rel="noopener noreferrer">
          Privacy Policy
        </a>
        <span>/</span>
        <a href="#" target="_blank" rel="noopener noreferrer">
          Terms of Service
        </a>
      </ul>
    </div>
  </div>
</footer>
