<header class="header">
  <div class="div-header container">
    <nav class="nav-header">
      <div class="div-logo">
        <a class="logo" href="./index.html" aria-label="Go to the home page">
          <svg class="logo-header" width="20px" height="20px">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <a class="foodboutique-header" href="./index.html">Food Boutique</a>
      </div>
      <div class="header-link">
        <a class="home-header-button" href="./index.html"> Home </a>

        <a
          class="cart-header-svg"
          href="./cart.html"
          aria-label="Navigate to the shopping cart"
          ><svg class="shopping-cart-header" width="18px" height="18px">
            <use href="./images/sprite.svg#icon-shopping-cart"></use>
          </svg>
          <p class="cart-header">
            Cart (<span class="js-order-counter">0</span>)
          </p>
        </a>
      </div>
    </nav>
  </div>
</header>
