<div class="modal-backdrops is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="modal-close-btn close" data-modal-close>
      <svg class="modal-close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal-main-content-box">
      <div class="modal-picture-box">
        <img class="modal-pic" src="#" alt="picture of the vegetable" />
      </div>

      <div>
        <h2 class="modal-title">Pumpkin</h2>
        <div class="modal-box-info">
          <p class="classification">
            Category:<span class="modal-info">Fresh Produce</span>
          </p>
          <p class="classification">
            Size:<span class="modal-info">1 medium-sized</span>
          </p>
          <p class="classification">
            Popularity:<span class="modal-info">0</span>
          </p>
        </div>

        <p class="modal-description">
          A round, orange vegetable with a thick shell and seeds inside. It is
          often used in cooking and baking for its sweet and earthy flavor.
        </p>
      </div>
    </div>

    <div class="modal-box-bottom">
      <p class="modal-price">$2.99</p>

      <button type="submit" class="add-to" data-modal-add-to>
        Add to<svg class="modal-shopping-cart" width="18" height="18">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>

      <button
        type="submit"
        class="added-to visually-hidden"
        data-modal-added-to
      >
        Added to<svg class="modal-shopping-cart" width="18" height="18">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>

  <!--  -->
</div>
