<div class="modal-order-success">
  
    <button class="order-success-button">
      <svg class="order-success-svg" width="28" height="28">
        <use href="./images/sprite.svg#icon-ion_close-sharp"></use>
      </svg>
    </button>
  
  <div class="img-text-success">
    <div class="tomato-elips">
      <img
        class="order-success-img"
        src="./images/tomato-success.png"
        alt="#"
      />
     <svg
      class="svg-elips"
      xmlns="../images/sprite.svg#icon-ellipse-shadow"
      viewBox="0 0 185 68"
      fill="none"
    >
      <g filter="../images/sprite.svg#icon-ellipse-shadow">
        <ellipse
          cx="92.5"
          cy="34"
          rx="72.5"
          ry="14"
          fill="#010101"
          fill-opacity="0.1"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_185_830"
          x="0"
          y="0"
          width="145"
          height="68"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="10"
            result="effect1_foregroundBlur_185_830"
          />
        </filter>
      </defs>
    </svg>
      </svg>
    </div>

    <h2 class="order-success-h">Order success</h2>
    <p class="order-success-text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
