<div class="modal-order-success">
  <button class="order-success-button">
    <svg class="order-success-svg" width="28" height="28">
      <use href="./images/sprite.svg#icon-ion_close-sharp"></use>
    </svg>
  </button>
  <div class="img-text-success">
    <div class="tomato-elips">
      <img
        class="order-success-img"
        src="./images/modal-order-success/tomato-success.png"
        alt="#"
      />
    </div>

    <h2 class="order-success-h">Order success</h2>
    <p class="order-success-text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
