<div class="popular-products">
  <h3 class="products-title">Popular products</h3>
  <ul class="popular-product-list">
    <li class="popular-product-item">
      <div class="product-image-container">
        <img
          src="https://e7.pngegg.com/pngimages/800/455/png-clipart-fresh-whole-chicken-whole-chicken-chicken.png"
          alt="#"
          width="56"
          height="56"
        />
      </div>
      <div class="product-description">
        <p class="product-name">Chicken</p>
        <div class="product-info">
          <p class="info-item">
            Category:<span class="info-text">Meat & Seafood</span>
          </p>
          <p class="info-item">Size:<span class="info-text">1.5 kg</span></p>
          <p class="info-item">Popularity:<span class="info-text">2</span></p>
        </div>
      </div>
      <button type="button" class="popular-product-button">
        <svg class="icon-popular-btn" width="12" height="12">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </li>
    <li class="popular-product-item">
      <div class="product-image-container">
        <img
          src="https://e7.pngegg.com/pngimages/800/455/png-clipart-fresh-whole-chicken-whole-chicken-chicken.png"
          alt="#"
          width="56"
          height="56"
        />
      </div>
      <div class="product-description">
        <p class="product-name">Chicken</p>
        <div class="product-info">
          <p class="info-item">
            Category:<span class="info-text">Meat & Seafood</span>
          </p>
          <p class="info-item">Size:<span class="info-text">1.5 kg</span></p>
          <p class="info-item">Popularity:<span class="info-text">2</span></p>
        </div>
      </div>
      <button type="button" class="popular-product-button">
        <svg class="icon-popular-btn" width="12" height="12">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </li>
    <li class="popular-product-item">
      <div class="product-image-container">
        <img
          src="https://e7.pngegg.com/pngimages/800/455/png-clipart-fresh-whole-chicken-whole-chicken-chicken.png"
          alt="#"
          width="56"
          height="56"
        />
      </div>
      <div class="product-description">
        <p class="product-name">Chicken</p>
        <div class="product-info">
          <p class="info-item">
            Category:<span class="info-text">Meat & Seafood</span>
          </p>
          <p class="info-item">Size:<span class="info-text">1.5 kg</span></p>
          <p class="info-item">Popularity:<span class="info-text">2</span></p>
        </div>
      </div>
      <button type="button" class="popular-product-button">
        <svg class="icon-popular-btn" width="12" height="12">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </li>
    <li class="popular-product-item">
      <div class="product-image-container">
        <img
          src="https://e7.pngegg.com/pngimages/800/455/png-clipart-fresh-whole-chicken-whole-chicken-chicken.png"
          alt="#"
          width="56"
          height="56"
        />
      </div>
      <div class="product-description">
        <p class="product-name">Chicken</p>
        <div class="product-info">
          <p class="info-item">
            Category:<span class="info-text">Meat & Seafood</span>
          </p>
          <p class="info-item">Size:<span class="info-text">1.5 kg</span></p>
          <p class="info-item">Popularity:<span class="info-text">2</span></p>
        </div>
      </div>
      <button type="button" class="popular-product-button">
        <svg class="icon-popular-btn" width="12" height="12">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </li>
    <li class="popular-product-item">
      <div class="product-image-container">
        <img
          src="https://e7.pngegg.com/pngimages/800/455/png-clipart-fresh-whole-chicken-whole-chicken-chicken.png"
          alt="#"
          width="56"
          height="56"
        />
      </div>
      <div class="product-description">
        <p class="product-name">Chicken</p>
        <div class="product-info">
          <p class="info-item">
            Category:<span class="info-text">Meat & Seafood</span>
          </p>
          <p class="info-item">Size:<span class="info-text">1.5 kg</span></p>
          <p class="info-item">Popularity:<span class="info-text">2</span></p>
        </div>
      </div>
      <button type="button" class="popular-product-button">
        <svg class="icon-popular-btn" width="12" height="12">
          <use href="./images/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
