<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/layout/_popular-products.css" />
  </head>
  <body> -->
    <section class="popular-products">
      <h2 class="title-popular">Popular products</h2>
      <div class="container-pop">
        <ul class="list-popular">
          <li class="card-popular">
             <div class="cont-img">
                 <img
              class="img-popular"
              src="./img/imagepop(1).jpg"
              alt="#"
              width="56"
              height="56"
            />
            </div>
            <div class="text-pop">
              <h3 class="title-pop-text">Ackee</h3>
               <div class="pop-info">
                <p class="text-info">
                Category: <b class="text-info-pop">Fresh Produce</b>
              </p>
                <p class="text-info">Size: <b class="text-info-pop">16 oz</b></p>
              <p class="text-info">Popularity: <b class="text-info-pop">3</b></p>
              </div>
            </div>
            <button type="button" class="btn-popular">
              <svg class="svg-pop" width="12" height="12">
                <use class="use-pop svg-active" href="./img/icons.svg#icon-check"
                ></use>
              </svg>
            </button>
          </li>
          <li class="card-popular">
             <div class="cont-img">
                 <img
              class="img-popular"
              src="./img/imagepop(1).jpg"
              alt="#"
              width="56"
              height="56"
            />
            </div>
            <div class="text-pop">
              <h3 class="title-pop-text">Ackee</h3>
               <div class="pop-info">
                <p class="text-info">
                Category: <b class="text-info-pop">Fresh Produce</b>
              </p>
                <p class="text-info">Size: <b class="text-info-pop">16 oz</b></p>
              <p class="text-info">Popularity: <b class="text-info-pop">3</b></p>
              </div>
            </div>
            <button type="button" class="btn-popular">
              <svg class="svg-pop" width="12" height="12">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"
                ></use>
              </svg>
            </button>
          </li>
          <li class="card-popular">
             <div class="cont-img">
                 <img
              class="img-popular"
              src="./img/imagepop(1).jpg"
              alt="#"
              width="56"
              height="56"
            />
            </div>
            <div class="text-pop">
              <h3 class="title-pop-text">Ackee</h3>
               <div class="pop-info">
                <p class="text-info">
                Category: <b class="text-info-pop">Fresh Produce</b>
              </p>
                <p class="text-info">Size: <b class="text-info-pop">16 oz</b></p>
              <p class="text-info">Popularity: <b class="text-info-pop">3</b></p>
              </div> 
            </div>
            <button type="button" class="btn-popular">
              <svg class="svg-pop" width="12" height="12">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"
                ></use>
              </svg>
            </button>
          </li>
          <li class="card-popular">
             <div class="cont-img">
                 <img
              class="img-popular"
              src="./img/imagepop(1).jpg"
              alt="#"
              width="56"
              height="56"
            />
            </div>
            <div class="text-pop">
              <h3 class="title-pop-text">Ackee</h3>
               <div class="pop-info">
                <p class="text-info">
                Category: <b class="text-info-pop">Fresh Produce</b>
              </p>
                <p class="text-info">Size: <b class="text-info-pop">16 oz</b></p>
              <p class="text-info">Popularity: <b class="text-info-pop">3</b></p>
              </div>
            </div>
            <button type="button" class="btn-popular">
              <svg class="svg-pop" width="12" height="12">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"
                ></use>
              </svg>
            </button>
          </li>
          <li class="card-popular">
             <div class="cont-img">
                 <img
              class="img-popular"
              src="./img/imagepop(1).jpg"
              alt="#"
              width="56"
              height="56"
            />
            </div>
            <div class="text-pop">
              <h3 class="title-pop-text">Ackee</h3>
              <div class="pop-info">
                <p class="text-info">
                Category: <b class="text-info-pop">Fresh Produce</b>
              </p>
                <p class="text-info">Size: <b class="text-info-pop">16 oz</b></p>
              <p class="text-info">Popularity: <b class="text-info-pop">3</b></p>
              </div>
            </div>
            <button type="button" class="btn-popular">
              <svg class="svg-pop" width="12" height="12">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"
                ></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </section>
  </body>
<!-- </html> -->
